<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/facebook.css" />
</head>

<body>
    <!-- start nav -->
    <nav class="nav">
        <div class="container">
            <div class="nav__container__parnav overflow">
                <div class="nav__container__parnav__brand float width20">
                    <a href="#">Face <span>Book</span></a>
                </div>
                <ul class="float width50">
                    <li>
                        <a href="#"><i class="fas fa-bell"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
                <div class="nav__container__parnav__user float width30">
                    <div class="nav__container__parnav__user__side overflow">
                        <div class="nav__container__parnav__user__side__left float width80">
                            <div class="nav__container__parnav__user__side__left__input">
                                <span class="
                      nav__container__parnav__user__side__left__input__icon
                    "><i class="fas fa-search"></i
                  ></span>
                                <input type="text" class="
                      nav__container__parnav__user__side__left__input__inpt
                    " placeholder="Search" />
                            </div>
                        </div>

                        <div class="
                  nav__container__parnav__user__side__right
                  float
                  width15
                  ml
                ">
                            <div class="nav__container__parnav__user__side__right__responsive">
                                <img src="../static/images/team3.webp" class="
                      responsive
                      nav__container__parnav__user__side__right__responsive__respo
                    " alt="badge" />
                                <span id="badge" class="
                      nav__container__parnav__user__side__right__responsive__badge
                    "></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end nav -->
    <!-- start section one -->
    <section class="sectionone">
        <div class="container">
            <div class="sectionone__container__items overflow">
                <!-- start item one -->
                <div class="
              sectionone__container__items__item
              sectionone__container__items__itemone
              float
              width25
            ">
                    <div class="sectionone__container__items__itemone__need">
                        <i class="far fa-newspaper"></i> Latest News
                    </div>
                    <div class="sectionone__container__items__itemone__need">
                        <i class="fas fa-user-friends"></i> Friends
                    </div>
                    <div class="sectionone__container__items__itemone__need">
                        <i class="fas fa-users"></i> Group
                    </div>
                    <div class="sectionone__container__items__itemone__need">
                        <i class="fas fa-shopping-cart"></i> MarketPlace
                    </div>
                    <div class="sectionone__container__items__itemone__need">
                        <i class="fas fa-tv"></i> Watch
                    </div>
                    <div class="sectionone__container__items__itemone__need more">
                        See More
                    </div>
                    <hr />
                    <h3>Your Shortcuts</h3>
                    <div class="sectionone__container__items__itemone__side overflow">
                        <div class="
                  sectionone__container__items__itemone__side__left
                  float
                  width20
                ">
                            <div class="
                    sectionone__container__items__itemone__side__left__responsive
                  ">
                                <img src="../static/images/status.webp" class="
                      responsive
                      sectionone__container__items__itemone__side__left__responsive__respo
                    " alt="" />
                            </div>
                        </div>
                        <div class="
                  sectionone__container__items__itemone__side__right
                  float
                  width80
                ">
                            Web Developers
                        </div>
                    </div>
                    <div class="sectionone__container__items__itemone__side overflow">
                        <div class="
                  sectionone__container__items__itemone__side__left
                  float
                  width20
                ">
                            <div class="
                    sectionone__container__items__itemone__side__left__responsive
                  ">
                                <img src="../static/images/team1.webp" class="
                      responsive
                      sectionone__container__items__itemone__side__left__responsive__respo
                    " alt="" />
                            </div>
                        </div>
                        <div class="
                  sectionone__container__items__itemone__side__right
                  float
                  width80
                ">
                            Web Design Course
                        </div>
                    </div>
                    <div class="sectionone__container__items__itemone__side overflow">
                        <div class="
                  sectionone__container__items__itemone__side__left
                  float
                  width20
                ">
                            <div class="
                    sectionone__container__items__itemone__side__left__responsive
                  ">
                                <img src="../static/images/team3.webp" class="
                      responsive
                      sectionone__container__items__itemone__side__left__responsive__respo
                    " alt="" />
                            </div>
                        </div>
                        <div class="
                  sectionone__container__items__itemone__side__right
                  float
                  width80
                ">
                            Full Stack Development
                        </div>
                    </div>
                    <div class="sectionone__container__items__itemone__side overflow">
                        <div class="
                  sectionone__container__items__itemone__side__left
                  float
                  width20
                ">
                            <div class="
                    sectionone__container__items__itemone__side__left__responsive
                  ">
                                <img src="../static/images/status.webp" class="
                      responsive
                      sectionone__container__items__itemone__side__left__responsive__respo
                    " alt="" />
                            </div>
                        </div>
                        <div class="
                  sectionone__container__items__itemone__side__right
                  float
                  width80
                ">
                            Website Experts
                        </div>
                    </div>
                </div>
                <!-- end item one -->
                <!-- start item two -->
                <div class="
              sectionone__container__items__item
              sectionone__container__items__itemtwo
              float
              width50
            ">
                    <div class="sectionone__container__items__itemtwo__paritem overflow" style="background-color: transparent;">
                        <div class="
                  sectionone__container__items__itemtwo__paritem__miniitem
                  float
                  width19
                ">
                            <div class="
                    sectionone__container__items__itemtwo__paritem__miniitem__responsive
                  ">
                                <img src="../static/images/status.webp" class="
                      responsive
                      sectionone__container__items__itemtwo__paritem__miniitem__responsive__respo
                    " alt="" />
                            </div>
                            <div class="
                    sectionone__container__items__itemtwo__paritem__miniitem__miniresponsive
                  ">
                                <img src="../static/images/team1.webp" class="
                      responsive
                      sectionone__container__items__itemtwo__paritem__miniitem__miniresponsive__respo
                    " alt="" />
                            </div>
                        </div>
                        <div class="
                  sectionone__container__items__itemtwo__paritem__miniitem
                  float
                  width19
                  ml1
                ">
                            <div class="
                    sectionone__container__items__itemtwo__paritem__miniitem__responsive
                  ">
                                <img src="../static/images/team3.webp" class="
                      responsive
                      sectionone__container__items__itemtwo__paritem__miniitem__responsive__respo
                    " alt="" />
                            </div>
                            <div class="
                    sectionone__container__items__itemtwo__paritem__miniitem__miniresponsive
                  ">
                                <img src="../static/images/status.webp" class="
                      responsive
                      sectionone__container__items__itemtwo__paritem__miniitem__miniresponsive__respo
                    " alt="" />
                            </div>
                        </div>
                        <div class="
                  sectionone__container__items__itemtwo__paritem__miniitem
                  float
                  width19
                  ml1
                ">
                            <div class="
                    sectionone__container__items__itemtwo__paritem__miniitem__responsive
                  ">
                                <img src="../static/images/team1.webp" class="
                      responsive
                      sectionone__container__items__itemtwo__paritem__miniitem__responsive__respo
                    " alt="" />
                            </div>
                            <div class="
                    sectionone__container__items__itemtwo__paritem__miniitem__miniresponsive
                  ">
                                <img src="../static/images/status.webp" class="
                      responsive
                      sectionone__container__items__itemtwo__paritem__miniitem__miniresponsive__respo
                    " alt="" />
                            </div>
                        </div>
                        <div class="
                  sectionone__container__items__itemtwo__paritem__miniitem
                  float
                  width19
                  ml1
                ">
                            <div class="
                    sectionone__container__items__itemtwo__paritem__miniitem__responsive
                  ">
                                <img src="../static/images/team3.webp" class="
                      responsive
                      sectionone__container__items__itemtwo__paritem__miniitem__responsive__respo
                    " alt="" />
                            </div>
                            <div class="
                    sectionone__container__items__itemtwo__paritem__miniitem__miniresponsive
                  ">
                                <img src="../static/images/status.webp" class="
                      responsive
                      sectionone__container__items__itemtwo__paritem__miniitem__miniresponsive__respo
                    " alt="" />
                            </div>
                        </div>
                        <div class="
                  sectionone__container__items__itemtwo__paritem__miniitem
                  float
                  width19
                  ml1
                ">
                            <div class="
                    sectionone__container__items__itemtwo__paritem__miniitem__responsive
                  ">
                                <img src="../static/images/status.webp" class="
                      responsive
                      sectionone__container__items__itemtwo__paritem__miniitem__responsive__respo
                    " alt="" />
                            </div>
                            <div class="
                    sectionone__container__items__itemtwo__paritem__miniitem__miniresponsive
                  ">
                                <img src="../static/images/status.webp" class="
                      responsive
                      sectionone__container__items__itemtwo__paritem__miniitem__miniresponsive__respo
                    " alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="sectionone__container__items__itemtwo__paritem white">
                        <div class="
                  sectionone__container__items__itemtwo__paritem__side
                  overflow
                ">
                            <div class="
                    sectionone__container__items__itemtwo__paritem__side__left
                    float
                    width5
                  ">
                                <div class="
                      sectionone__container__items__itemtwo__paritem__side__left__responsive
                    ">
                                    <img src="../static/images/team3.webp" class="
                        responsive
                        sectionone__container__items__itemtwo__paritem__side__left__responsive__respo
                      " alt="" />
                                </div>
                            </div>
                            <div class="
                    sectionone__container__items__itemtwo__paritem__side__right
                    mar
                    float
                    width95
                  ">
                                <h5>John Nicholos</h5>
                                <span>Public <i class="fas fa-sort-down"></i></span>
                                <p>Whats is in your mind john ?</p>
                                <hr />
                            </div>
                        </div>
                        <div class="
                  sectionone__container__items__itemtwo__paritem__spans
                  center
                ">
                            <span><i class="fas fa-video"></i> Live Video</span
                ><span><i class="fas fa-camera-retro"></i> Photo /Video </span
                ><span
                  ><i class="far fa-laugh-beam"></i> Feeling /Activity</span
                >
              </div>
            </div>
            <div class="sectionone__container__items__itemtwo__paritem">
              <div
                class="
                  sectionone__container__items__itemtwo__paritem__side
                  overflow
                "
              >
                <div
                  class="
                    sectionone__container__items__itemtwo__paritem__side__left
                    float
                    width5
                  "
                >
                  <div
                    class="
                      sectionone__container__items__itemtwo__paritem__side__left__responsive
                    "
                  >
                    <img
                      src="../static/images/status.webp"
                      class="
                        responsive
                        sectionone__container__items__itemtwo__paritem__side__left__responsive__respo
                      "
                      alt=""
                    />
                  </div>
                </div>
                <div
                  class="
                    sectionone__container__items__itemtwo__paritem__side__right
                    float
                    width95
                  "
                >
                  <h5>John Nicholos</h5>
                  <p>17/ august / 5:00 o'/ clock</p>
                </div>
              </div>
              <p style="margin-bottom: 15px">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet
                illo modi ducimus reiciendis<span style="color: rgb(44, 149, 241);"> nam similique quidem. Odio adipisci</span>

                            </p>
                            <div class="
                  sectionone__container__items__itemtwo__paritem__responsive
                ">
                                <img src="../static/images/blog3.webp" class="responsive sectionone__container__items__itemtwo__paritem__responsive__respo" alt="" />
                            </div>
                            <div class="sectionone__container__items__itemtwo__paritem__footside overflow">
                                <div class="
                    sectionone__container__items__itemtwo__paritem__footside__left float width90 center
                  ">
                                    <span><i class="far fa-thumbs-up"></i>11</span><span><i class="far fa-comment"></i>11</span><span><i class="fas fa-share"></i>11</span>
                                </div>
                                <div class="
                    sectionone__container__items__itemtwo__paritem__footside__right float width10
                  ">
                                    <div class="
                      sectionone__container__items__itemtwo__paritem__side__left__responsive
                    ">
                                        <img src="../static/images/team3.webp" class="
                        responsive
                        sectionone__container__items__itemtwo__paritem__side__left__responsive__respo
                      " alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sectionone__container__items__itemtwo__paritem">
                            <div class="
                              sectionone__container__items__itemtwo__paritem__side
                              overflow
                            ">
                                <div class="
                                sectionone__container__items__itemtwo__paritem__side__left
                                float
                                width5
                              ">
                                    <div class="
                                  sectionone__container__items__itemtwo__paritem__side__left__responsive
                                ">
                                        <img src="../static/images/team1.webp" class="
                                    responsive
                                    sectionone__container__items__itemtwo__paritem__side__left__responsive__respo
                                  " alt="" />
                                    </div>
                                </div>
                                <div class="
                                sectionone__container__items__itemtwo__paritem__side__right
                                float
                                width95
                              ">
                                    <h4>John Nicholos</h4>
                                    <p>17/ august / 5:00 o'/ clock</p>
                                </div>
                            </div>
                            <p style="margin-bottom: 15px">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet illo modi ducimus reiciendis<span style="color: rgb(44, 149, 241);"> nam similique quidem. Odio adipisci</span>

                            </p>
                            <div class="
                              sectionone__container__items__itemtwo__paritem__responsive
                            ">
                                <img src="../static/images/post.webp" class="responsive sectionone__container__items__itemtwo__paritem__responsive__respo" alt="" />
                            </div>
                            <div class="sectionone__container__items__itemtwo__paritem__footside overflow">
                                <div class="
                                sectionone__container__items__itemtwo__paritem__footside__left float width90 center
                              ">
                                    <span><i class="far fa-thumbs-up"></i>11</span><span><i class="far fa-comment"></i>11</span><span><i class="fas fa-share"></i>11</span>
                                </div>
                                <div class="
                                sectionone__container__items__itemtwo__paritem__footside__right float width10
                              ">
                                    <div class="
                                  sectionone__container__items__itemtwo__paritem__side__left__responsive
                                ">
                                        <img src="../static/images/team1.webp" class="
                                    responsive
                                    sectionone__container__items__itemtwo__paritem__side__left__responsive__respo
                                  " alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end item two -->
                    <!-- start item three -->
                    <div class="
              sectionone__container__items__item
              sectionone__container__items__itemthree
              float
              width23
              ml2
            ">
                        <div class="sectionone__container__items__itemthree__side see">
                            <span>Events</span>
                            <span class="sectionone__container__items__itemthree__side__seeall">See All</span
              >
            </div>
            <div class="sectionone__container__items__itemthree__side overflow">
              <div
                class="
                  sectionone__container__items__itemthree__side__left
                  center
                  float
                  width25
                "
              >
                <span>18</span>
                            <span>March</span>
                        </div>
                        <div class="
                  sectionone__container__items__itemthree__side__right
                  float
                  width75
                ">
                            <h5>Social Media</h5>
                            <p><i class="fas fa-map-marker"></i>sakarya, turkey</p>
                            <span>More Info</span>
                        </div>
                    </div>
                    <div class="sectionone__container__items__itemthree__side overflow">
                        <div class="
                  sectionone__container__items__itemthree__side__left
                  center
                  float
                  width25
                ">
                            <span>18</span>
                            <span>March</span>
                        </div>
                        <div class="
                  sectionone__container__items__itemthree__side__right
                  float
                  width75
                ">
                            <h5>Social Media</h5>
                            <p><i class="fas fa-map-marker"></i>sakarya, turkey</p>
                            <span>More Info</span>
                        </div>
                    </div>
                    <div class="sectionone__container__items__itemthree__side see">
                        <span>Advertisement</span>
                        <span class="sectionone__container__items__itemthree__side__seeall">Colse</span
              >
            </div>
            <div class="sectionone__container__items__itemthree__responsive">
              <img
                src="../static/images/post.webp"
                class="
                  responsive
                  sectionone__container__items__itemthree__responsive__respo
                "
                alt=""
              />
            </div>
            <div class="sectionone__container__items__itemthree__side see">
              <span>Conversation</span>
                        <span class="sectionone__container__items__itemthree__side__seeall">Hide Chat</span
              >
            </div>
            <div class="sectionone__container__items__itemthree__side overflow">
              <div
                class="
                  sectionone__container__items__itemthree__side__left
                  float
                  width20
                "
              >
                <div
                  class="
                    sectionone__container__items__itemthree__side__left__responsive
                  "
                >
                  <span id="badge"></span>
                        <img src="../static/images/status.webp" class="
                      responsive
                      sectionone__container__items__itemthree__side__left__responsive__respo
                    " alt="" />
                    </div>
                </div>
                <div class="
                  sectionone__container__items__itemthree__side__right
                  float
                  width80
                ">
                    Mark Zukker
                </div>
            </div>
            <div class="sectionone__container__items__itemthree__side overflow">
                <div class="
                  sectionone__container__items__itemthree__side__left
                  float
                  width20
                ">
                    <div class="
                    sectionone__container__items__itemthree__side__left__responsive
                  ">
                        <span id="badge"></span>
                        <img src="../static/images/team3.webp" class="
                      responsive
                      sectionone__container__items__itemthree__side__left__responsive__respo
                    " alt="" />
                    </div>
                </div>
                <div class="
                  sectionone__container__items__itemthree__side__right
                  float
                  width80
                ">
                    Mark Zukker
                </div>
            </div>
            <div class="sectionone__container__items__itemthree__side overflow">
                <div class="
                  sectionone__container__items__itemthree__side__left
                  float
                  width20
                ">
                    <div class="
                    sectionone__container__items__itemthree__side__left__responsive
                  ">
                        <span id="badge"></span>
                        <img src="../static/images/team1.webp" class="
                      responsive
                      sectionone__container__items__itemthree__side__left__responsive__respo
                    " alt="" />
                    </div>
                </div>
                <div class="
                  sectionone__container__items__itemthree__side__right
                  float
                  width80
                ">
                    Mark Zukker
                </div>
            </div>
        </div>
        <!-- end item three -->
        </div>
        </div>
    </section>
    <!--  end section one -->
    <script src="https://kit.fontawesome.com/7280065e63.js" crossorigin="anonymous"></script>
    <script src="../static/js/facebook.js"></script>
</body>

</html>